.main-wrapper {
    padding: 1rem;
    margin: 5rem;
    background-color: var(--color-base-0);
    border-radius: 10px;
}

.position-content {
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.area-box {
    position: relative;
    width: 30rem;
    height: 30rem;
    background: lightgray;
    border-radius: 10px;
    margin: 1rem;
}

.title {
    text-align: center;
    color: var(--color-4);
}

.the-boat {
    position: absolute;
    background: var(--color-6);
    // border-radius: 0% 100% 45% 55% / 0% 61% 39% 100%;
    border-radius: 200px 200px 78px 77px;
    width: 1rem;
    height: 1rem;
    transition: all 0.5s ease-in-out;
}

.command-section {
    background: var(--color-6);
    width: 30rem;
    min-height: 30rem;
    border-radius: 10px;
}

.command-depart {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}

.input-wrapper {
    display: grid;
}

.input-class {
    width: 4rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 0;
}

.input-label {
    text-align: center;
}

.a-command-style {
    background-color: var(--color-gray-3);
    box-shadow: 0 0 1px 1px var(--color-gray-5);
    border-radius: 5px;
    padding: 5px;
}

.grid {
    display: grid;
}

.justify-center {
    justify-items: center;
}

.flex {
    display: flex;
}

.gap-2 {
    gap: 2px;
}

.gap-4 {
    gap: 4px;
}

.gap-6 {
    gap: 6px;
}

.gap-8 {
    gap: 0.5rem;
}

.status-position {
    display: flex;
    margin: 1rem;
    gap: 0.5rem;
}

.status-position-style {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 8rem;
    padding: .5rem;
    gap: 8px;
    background: var(--color-6);
    color: var(--color-white);
    border-radius: 10px;
    font-size: 1.3rem;
}

.grid-system {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1rem);
    width: 100%;
    height: 100%;

    div {
        width: 1rem;
        height: 1rem;
        outline: 1px solid var(--color-3);
        background-color: var(--color-gray-5);
    }
}