.main-wrapper {
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.area-box {
    position: relative;
    width: 30vw;
    height: 30vw;
    background: lightgray;
    border-radius: 10px;
}

.title {
    text-align: center;
}

.the-boat {
    position: absolute;
    background: blueviolet;
    // border-radius: 0% 100% 45% 55% / 0% 61% 39% 100%;
    border-radius: 200px 200px 78px 77px;
    width: 1rem;
    height: 3rem;
    transition: all 0.5s ease-in-out;
}

.command-section {
    background: var(--color-base-0);
    width: 30vw;
    min-height: 30vh;
    border-radius: 10px;
}

.command-depart {
    display: flex;
    gap: .5rem;
}

.input-wrapper {
    display: grid;
}

.input-class {
    width: 4rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 0;
}

.input-label {
    text-align: center;
}

.a-command-style {
    background-color: var(--color-gray-3);
    box-shadow: 0 0 1px 1px var(--color-gray-5);
    border-radius: 5px;
    padding: 5px;
}

.grid {
    display: grid;
}

.gap-4 {
    gap: 4px;
}

.gap-6 {
    gap: 6px;
}

.gap-8 {
    gap: 0.5rem;
}
.status-position {
    display: flex;
    margin: 1rem;
    gap: 0.5rem;    
}
.status-position-style {
    display: flex;
    padding: .5rem;
    gap: 8px;
    background: var(--color-base-0);
    border-radius: 10px;
    border-radius: 5px;
    font-size: 1.3rem;
}